.container{
    width: 100%;
    background-color: burlywood;
    color: cadetblue;
}

h1 {
    text-align: center;
}

img {
    height: 150px;
    width: 100px;
    border-radius: 30%;
}

.row-1, .row-2, .row-3 {
    display: flex;
    justify-content: space-around;
    padding: 15px;

}

.row-1 {
    background-color: #a2b9bc;
}

.row-2 {
    background-color: #b2ad7f;
}

.row-3 {
    background-color: #878f99;
}