* {
    font-family: cursive;
}

h1 {
    background-color: black;
    color: white;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 8px;
    font-weight: 900;
    font-size: 43px;
    margin-bottom: -10px;
}

span {
    color: turquoise;
}

h2 {
    background-color: purple;
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    padding-top: 3px;
    padding-bottom: 5px;
    margin-bottom: -10px;
}

h3 {
    background-color: lightblue;
    text-align: right;
    text-decoration: underline;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 15px;
}
